@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

:root{
    --azul:#0B9AD8;
    --preto:#322e2f;
    --amarelo:#e3d810;
    --roza:#E13284;
    --branco:#f4f3f3;
    --cinza:#a29a90;
    transition: all 0.4s;
}

*{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    line-height: 1.5;
    font-size: 1.05rem;
    text-rendering: optimizeLegibility;
    color: var(--preto);

}

header{
    background: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)),
    url("../img/login-bg.jpg")no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.header-top-info{
    background: var(--preto);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.6rem 0;
}

.header-top-info .row{
    margin: 0 auto;
}

.header-top-info .row div:first-child span{
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.header-top-info .row div:first-child span .fas{
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

.header-top-info .btn{
    margin: 0.5rem;
}

.btn-login {
    background:var(--azul);
    color: #fff;
    border-radius: 3rem;
    width: 120px;
    border: 2px solid var(--azul) !important;
    transition: all 1s;
}

.btn-register{
    background: transparent;
    color: var(--azul);
    width: 120px;
    border-radius: 3rem;
    border: 2px solid var(--azul) !important;
    transition: all 1s;
}

.btn-login:hover{
    background: transparent;
    color: var(--azul);
    transition: .2s;
}

.btn-register:hover{
    background: var(--azul);
    color: #fff;
    transition: 1s;
}

.navbar .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-collpase{
    background:var(--azul);
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    transition: all .2s;
    border-left: 0.5px solid #fff;
    z-index: 999;
    transform: translateX(100%);
}


.navbar-nav{
    padding: 1rem;
}

.navbar-nav li{
    padding: 0.4rem 0;
    margin: 0.25em 0;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 400;
    font-size: 1.1rem;
    transition: all .2s;
}

.navbar-nav li a:hover{
    padding-left: 1rem;
}


.navbar-brend img{
    width: 50px;
    margin: 0 auto;
}

.navbar-brend span{
    font-size: 1.4rem;
    color: #fff;
}

.hero-content{
    flex: 1;
    text-align: center;
}
.hero-slider{
    padding: 2rem 0;
}

.hero-title{
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
}

.hero-content .text{
    padding: 1rem;
}

.hero-btn{
    background: var(--roza);
    width: 140px;
    color:#fff;
    border-radius: 5px;
    transition: all .2s;
}

.hero-btn:hover{
    background:#ee4692;
}

.text{
    color: var(--cinza);
    padding: 0.6rem 0;

}

.welcome{
    background: var(--branco);
}

.welcome .row> div:first-child{
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.welcome .item{
    text-align: center;
}

.welcome .item span{
    font-size:2.6rem;
}

section{
    padding:4rem 0;
}

.lg-text{
    font-weight: 600;
    font-size: 1.2rem;
}

.title{
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title-md h3{
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 2rem;
    text-align: center;

}

.title-sm{
    font-size: 1.5rem;
    text-align: left;
}

.line{
    background: var(--amarelo);
    height: 3px;
    width: 120px;
    margin: 0 auto 1.5rem auto;

}

.sobre .container >p{
    text-align: center;
}

.sobre .item{
   
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
}

.sobre .item img{
    width: 240px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;

}



.btn-primary:hover{
    background: #0e80aa;
}

.curso{
    background: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)),
    url("../img/section.jpg")no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.curso .form-curso div *{
    display: block;
}

.curso .form-curso select option{
    color: var(--preto);
}

.formacoes .row >div{
    margin: 1.5rem 0;
}

.formacoes .img-container{
    position: relative;
}

.formacoes .img-container::after{
    content: "";
    position:absolute;
    top: -10px;
    left: -10px;
    right: 10px;
    bottom: 10px;
    z-index: -1;
    border: 4px solid var(--roza);
    transition: all 1s;

}


.formacoes .img-container:hover::after{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.contas{
    padding-top:0;
}

.contas .item, .contas .item .title-sm h3{
    text-align: center !important;
}

.contas .item{
    margin: 0.4rem 0;
    color:#fff;
    border-radius: 0.3rem;
    padding-bottom: 1rem;
}

.contas .item:nth-child(1){
    background:var(--azul);
}

.contas .item:nth-child(2){
    background:var(--amarelo);
}

.contas .item:nth-child(3){
    background:var(--roza);
}

.contas .item:nth-child(4){
    background:var(--cinza)
}

.contas .num{
    font-size: 2.6rem;
    font-weight: 900;
}

/*RODAPÉ DO SITE*/

footer{
    background:var(--preto);
    color: #fff;
    padding: 4rem 0;
}

.footer .row >div{
    text-align: center !important;
}

.footer .row >div:nth-child(1) p{
    width: 60%;
    margin: 0 auto;
}

.footer-links{
    display: flex;
    justify-content: center;
    margin:1rem 0;
}

.footer-links li{
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    margin-left: 0.5rem;
    border-radius: 50%;

}

.footer-links li:hover{
    background: var(--azul);
}

.footer-links a{
    color:#fff;
    transition:5s;

}

.footer-links li:hover a{
    background: var(--azul);
}

.footer-links a{
    color: var(--branco);
    display: block;
    margin: 0.6rem 0;
    transition: all .2s;
}

.footer-links a:hover{
    background: var(--branco);
}

.links a{
    display: block;
color: #ccc;
}

.links div{
    margin: 0.6rem 0;
}

.footer-text{
    text-align: center;
    margin-top: 3rem;
    font-size: 1rem;
}







