a{
    color: var(--preto);
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

li{
    list-style-type: none;
}

h1,h2,h3,h4,h6{
    padding: 0.6rem 0;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem; 
}

button{
    outline: none;
    cursor: pointer;
}

.btn{
    display: inline-block;
    padding: 0.55rem;
    font-weight: 600;
    border: none;
    margin: 0.4rem 0;
    letter-spacing: 1px;
}

input{
    outline: 0;
    width: 100%;
}

input[type="text"], input[type="email"] , select{
    width: 100%;
    border: none;
    color: var(--cinza);
    font-size: 1rem;
    padding: 0.6rem;
    margin: 0.6rem 0;
    background: transparent;
    outline: 0;
    border-bottom: 1.5px solid var(--cinza);
}

input::placeholder{
    color:var(--branco);
}


 .submit-btn{
    width:auto;
    padding: 0.5rem 1rem;
    background: var(--azul);
    border-radius: 5px;
    margin: 2rem auto 0 auto;
    color: #fff;
    cursor: pointer;
    transition: all .2s;
    border: none;
    font-size: 1rem;
}

.submit-btn:hover{
    background:#0e80aa;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}